@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Keyframe animation for sliding bars */
@keyframes slideInBars {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animated bars */
.animated-bar {
 margin: 0;
  transition: margin 0.5s ease-in-out;
  animation: slideInBars 0.8s ease-in-out forwards;
  overflow: hidden;
  opacity: 0; /* Start hidden */
}

/* Delay for each bar */
.animated-bar:nth-child(1) {
  animation-delay: 0.2s;
}
.animated-bar:nth-child(2) {
  animation-delay: 0.4s;
}
.animated-bar:nth-child(3) {
  animation-delay: 0.6s;
}
.animated-bar:nth-child(4) {
  animation-delay: 0.8s;
}
.animated-bar:nth-child(5) {
  animation-delay: 1s;
}
.animated-bar:nth-child(6) {
  animation-delay: 1.2s;
}
.animated-bar:nth-child(7) {
  animation-delay: 1.4s;
}
.animated-bar:nth-child(8) {
  animation-delay: 1.6s;
}
.animated-bar:nth-child(9) {
  animation-delay: 1.8s;
}
.animated-bar:nth-child(10) {
  animation-delay: 2s;
}
.sliding-bar {
  margin: 0;
  opacity: 0; /* Initially hidden */
  transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
  animation: slideFromOutside 0.8s ease-in-out forwards;
  overflow: hidden;
}

/* Staggered animation delays for each bar */
.sliding-bar:nth-child(1) {
  animation-delay: 0.2s;
}
.sliding-bar:nth-child(2) {
  animation-delay: 0.4s;
}
.sliding-bar:nth-child(3) {
  animation-delay: 0.6s;
}
.sliding-bar:nth-child(4) {
  animation-delay: 0.8s;
}
.sliding-bar:nth-child(5) {
  animation-delay: 1s;
}

/* Sliding animation */
@keyframes slideFromOutside {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #ecf0f1;
}

.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
  position: relative;
}

.content__container::before {
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  animation: opacity 2s infinite;
}

.content__container::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  color: #16a085;
  font-size: 42px;
  line-height: 40px;
  animation: opacity 2s infinite;
}

.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}

.content__container__list {
  margin-top: 0;
  padding-left: 150px;
  text-align: left;
  list-style: none;
  animation: change 10s infinite;
}

.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@keyframes opacity {
  0%, 100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes change {
  0%, 12.66%, 100% { transform: translate3d(0, 0, 0); }
  16.66%, 29.32% { transform: translate3d(0, -25%, 0); }
  33.32%, 45.98% { transform: translate3d(0, -50%, 0); }
  49.98%, 62.64% { transform: translate3d(0, -75%, 0); }
  66.64%, 79.3% { transform: translate3d(0, -50%, 0); }
  83.3%, 95.96% { transform: translate3d(0, -25%, 0); }
}




.ok {
  white-space: nowrap;
  overflow: hidden;
}

/* Animation applied dynamically */
.animated-text {
  animation: animated-text 1.5s steps(30, end) 0.3s 1 normal both,
    animated-cursor 600ms steps(29, end) infinite;
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 400px;
  }
}

@keyframes animated-cursor {
  50% {
    border-color: transparent;
  }
}

